<AuthorizeView>
    <Authorized>
        <MudMenu AnchorOrigin="Origin.BottomRight"
                 Icon="@Icons.Material.Filled.PermIdentity" title="@context.User.Identity!.Name"
                 Class="mx-1"
                 LockScroll="true"
                 TransformOrigin="Origin.TopRight">
            <ChildContent>
                <div class="pb-4"
                     style="margin-bottom: 0px !important; min-width: 260px;">
                    <MudCard Elevation="0" Square="true" Class="ma-0">
                        <MudCardHeader>
                            <CardHeaderAvatar>
                                <MudAvatar Size="Size.Medium" Color="Color.Primary" Class="ma-2">
                                    @GetInitials(context.User.Identity?.Name)
                                </MudAvatar>
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Typo="Typo.body1">@context.User.Identity?.Name</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                    </MudCard>
                    <MudDivider/>
                    <MudMenuItem Href="/Profile">
                        <div class="d-flex">
                            <MudIcon Class="mx-2"
                                     Icon="@Icons.Material.Filled.Person"/>
                            <MudText>@Localizer.Get("Profile")</MudText>
                        </div>
                    </MudMenuItem>
                    <MudMenuItem Href="https://github.com/bzins-app/Report_App.Blazor_Wasm" Target="_blank">
                        <div class="d-flex">
                            <MudIcon Class="mx-2"
                                     Icon="@Icons.Custom.Brands.GitHub"/>
                            <MudText>@Localizer.Get("About")</MudText>
                        </div>
                    </MudMenuItem>
                    <div class="mt-4 mx-4">
                        <MudButton Color="Color.Default"
                                   FullWidth="true" OnClick="BeginLogOut"
                                   StartIcon="@Icons.Material.Filled.Logout"
                                   Variant="Variant.Outlined">
                            @Localizer.Get("Logout")
                        </MudButton>
                    </div>
                </div>
            </ChildContent>
        </MudMenu>
    </Authorized>
    <NotAuthorized>
        <a href="/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {

    private async Task BeginLogOut()
    {
        await AuthStateProvider.Logout();
        NavigationManager.NavigateTo("/login");
    }

    private string GetInitials(string? fullName)
    {
        if (string.IsNullOrEmpty(fullName))
            return string.Empty;

        var names = fullName.ToUpper().Split(".");
        return names.Length > 1
            ? $"{names[0].First()}{names[1].First()}"
            : $"{names[0].First()}";
    }

}