@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<MudNavMenu Color="Color.Info" Bordered="true" Margin="Margin.Normal">
    <MudText Typo="Typo.h6" Class="px-4">
        <a href="/">
            <div style="align-items: center; display: flex; font-size: 17px; height: 64px; justify-content: center;">
                <span class="logo-sm">
                    <img src="images/AppLogo.png" style="-webkit-filter: invert(100%)" alt="" height="30">
                </span>
                <span class="logo-lg" style="flex: none;">
                    <span style="color: white; padding-left: 5px">@_appConst?.ApplicationName</span>
                </span>
            </div>
        </a>
    </MudText>
    <MudDivider/>
    <MudNavLink Href="Home" Style="padding-top: 15px" Icon="@Icons.Material.Outlined.Home">@Localizer.Get("Home")</MudNavLink>
    @if (_appConst.ActivateTaskSchedulerModule)
    {
        <MudNavLink Href="DashboardApp" Icon="@Icons.Material.Outlined.AreaChart">@Localizer.Get("Dashboard")</MudNavLink>
    }
    <MudNavGroup Title="@Localizer.Get("Per Connection")" Icon="@Icons.Material.Outlined.Analytics">
        @foreach (var t in _activities.Where(a => a.IsVisible).OrderBy(a => a.ActivityName))
        {
            <AuthorizeView Roles=@(t.ActivityName)>
                <MudNavGroup Title="@t.ActivityName" Style="@(IsDarkMode ? "background:#0e1824cc;" : "background:#000c17;")">
                    @if (_appConst.ActivateTaskSchedulerModule)
                    {
                        @if (!context.User.IsInRole("Supervisor") || context.User.IsInRole("Admin"))
                        {
                            <MudNavLink Style="@(IsDarkMode ? "background:#0C1520;" : "background:#000A14;")" Href="@("TasksView/" + t.ActivityName + "/" + t.ActivityId)">@Localizer.Get("Base view")</MudNavLink>
                        }

                        @if (context.User.IsInRole("Supervisor"))
                        {
                            <MudNavLink Style="@(IsDarkMode ? "background:#0C1520;" : "background:#000A14;")" Href=@($"TasksPerActivity/Report/{t.ActivityId}/{t.ActivityName}")>@Localizer.Get("Manage reports")</MudNavLink>
                            <MudNavLink Style="@(IsDarkMode ? "background:#0C1520;" : "background:#000A14;")" Href="@("RetrieveFiles/" + t.ActivityName + "/" + t.ActivityId)">@Localizer.Get("Retrieve files")</MudNavLink>
                        }
                    }
                    @if (_appConst.ActivateAdHocQueriesModule && _appConst.ActivateTaskSchedulerModule)
                    {
                        <MudDivider DividerType="DividerType.Inset"/>
                    }
                    @if (_appConst.ActivateAdHocQueriesModule)
                    {
                        <MudNavLink Style="@(IsDarkMode ? "background:#0C1520;" : "background:#000A14;")" Href=@($"QueryStore/{t.ActivityId}/{t.ActivityName}")>@Localizer.Get("Queries store")</MudNavLink>
                        @if (context.User.IsInRole("Supervisor") || context.User.IsInRole("Admin"))
                        {
                            <MudNavLink Style="@(IsDarkMode ? "background:#0C1520;" : "background:#000A14;")" Href=@($"ManageQueries/{t.ActivityId}/{t.ActivityName}")>@Localizer.Get("Manage queries")</MudNavLink>
                            <MudDivider DividerType="DividerType.Inset"/>
                            <MudNavLink Style="@(IsDarkMode ? "background:#0C1520;" : "background:#000A14;")" Href=@($"DbExplorer2/{t.ActivityId}/{t.ActivityName}")>@Localizer.Get("DB explorer")</MudNavLink>
                        }
                    }
                </MudNavGroup>
            </AuthorizeView>
        }
    </MudNavGroup>
    <AuthorizeView Roles="Admin, Supervisor,Demo">
        <Authorized>
            @if (_appConst.ActivateTaskSchedulerModule)
            {
                <MudNavGroup Title="@Localizer.Get("Tasks overview")" Icon="@Icons.Material.Outlined.AddTask">
                    <MudNavLink Href="TaskManager/Report" Style="@(IsDarkMode ? "background:#0e1824cc;" : "background:#000c17;")">@Localizer.Get("Reports")</MudNavLink>
                    <MudNavLink Href="TaskManager/Alert" Style="@(IsDarkMode ? "background:#0e1824cc;" : "background:#000c17;")">@Localizer.Get("Alerts")</MudNavLink>
                    <MudNavLink Href="TaskManager/DataTransfer" Style="@(IsDarkMode ? "background:#0e1824cc;" : "background:#000c17;")">@Localizer.Get("Data transfer")</MudNavLink>
                </MudNavGroup>
            }
            @if (_appConst.ActivateAdHocQueriesModule)
            {
                <MudNavLink Href="ManageQueriesGlobal" Icon="@Icons.Material.Outlined.AddChart">@Localizer.Get("Adhoc queries overview")</MudNavLink>
            }
            <MudDivider DividerType="DividerType.Inset"/>
            <MudNavGroup Title="@Localizer.Get("Logs")" Icon="@Icons.Material.Outlined.AssignmentReturned">
                <MudNavLink Href="AuditTrail" Style="@(IsDarkMode ? "background:#0e1824cc;" : "background:#000c17;")">@Localizer.Get("Audit Trail")</MudNavLink>
                @if (_appConst.ActivateTaskSchedulerModule)
                {
                    <MudNavLink Href="TaskLogs" Style="@(IsDarkMode ? "background:#0e1824cc;" : "background:#000c17;")">@Localizer.Get("Background Tasks")</MudNavLink>
                }
                <MudNavLink Href="QueryExecutionLogs" Style="@(IsDarkMode ? "background:#0e1824cc;" : "background:#000c17;")">@Localizer.Get("Query execution logs")</MudNavLink>
                @if (_appConst.ActivateAdHocQueriesModule)
                {
                    <MudNavLink Href="AdhocQueriesLogs" Style="@(IsDarkMode ? "background:#0e1824cc;" : "background:#000c17;")">@Localizer.Get("Adhoc queries logs")</MudNavLink>
                }
                <MudNavLink Href="SystemLogs" Style="@(IsDarkMode ? "background:#0e1824cc;" : "background:#000c17;")">@Localizer.Get("System")</MudNavLink>
            </MudNavGroup>
            <MudNavGroup Title="@Localizer.Get("Base parameters")" Icon="@Icons.Material.Outlined.SettingsApplications">
                <MudNavLink Href="BaseParameters" Style="@(IsDarkMode ? "background:#0e1824cc;" : "background:#000c17;")">@Localizer.Get("Application parameters")</MudNavLink>
                <MudNavLink Href="ConnectionsManager" Style="@(IsDarkMode ? "background:#0e1824cc;" : "background:#000c17;")">@Localizer.Get("Connections manager")</MudNavLink>
                @if (_appConst.ActivateTaskSchedulerModule)
                {
                    <MudNavLink Href="DepositPath" Style="@(IsDarkMode ? "background:#0e1824cc;" : "background:#000c17;")">@Localizer.Get("Deposit path")</MudNavLink>
                    <MudNavLink Href="/swagger" Target="_blank" Style="@(IsDarkMode ? "background:#0e1824cc;" : "background:#000c17;")">@Localizer.Get("Swagger")</MudNavLink>
                }
            </MudNavGroup>
            <MudNavLink Href="UsersManagement" Icon="@Icons.Material.Outlined.SupervisedUserCircle">@Localizer.Get("Users")</MudNavLink>
            @if (_appConst.ActivateTaskSchedulerModule)
            {
                @if (context.User.IsInRole("Admin"))
                {
                    <MudNavLink Href="/Hangfire" Target="_blank" Icon="@Icons.Material.Outlined.Tune">@Localizer.Get("HangFire")</MudNavLink>
                }
                else
                {
                    <MudNavLink Href="/HangfireRead" Target="_blank" Icon="@Icons.Material.Outlined.Tune">@Localizer.Get("HangFire")</MudNavLink>
                }
            }
            <MudDivider DividerType="DividerType.Inset"/>
        </Authorized>
    </AuthorizeView>
    <MudNavLink Href="https://github.com/bzins-app/Report_App.Blazor_Wasm/wiki" Target="_blank" Icon="@Icons.Material.Outlined.QuestionMark">@Localizer.Get("Help")</MudNavLink>
</MudNavMenu>
<MudDivider Class="mt-auto" Style="flex-grow: unset !important"></MudDivider>
<MudNavMenu Class="d-flex justify-space-between pa-4">
    <MudLink Href="https://github.com/bzins-app/Report_App.Blazor_Wasm" Target="_blank" Style="color: #6F6F6F !important; font-size: 0.625rem; line-height: 1.125rem;">@@@ApplicationInfo.VersionYear</MudLink>
    <MudText Class="" Style="color: #6F6F6F !important; font-size: 0.625rem; line-height: 1.125rem;">version @ApplicationInfo.ApplicationVersion</MudText>
</MudNavMenu>

@code {

    [Parameter] public bool IsDarkMode { get; set; }

    private List<SelectItemActivitiesInfo> _activities = new();
    private ApplicationConstantsValues _appConst = new();

    protected override async Task OnInitializedAsync()
    {
        _appConst = (await AppService.GetApplicationConstantsValues())!;
        _activities = await DataService.GetValues<SelectItemActivitiesInfo>("ActivitiesInfo", ApiControllers.ApplicationParametersApi);
    }

}