@page "/TestConnection"
@using Report_App_WASM.Shared.DatabasesConnectionParameters
<h3>TestConnections</h3>

<MudTextField T="string" Label="Multiline Select" Lines="3" Variant="Variant.Outlined" Text="@ConnectionString"
              Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Api" />

<MudStack Row="true" Wrap="Wrap.Wrap">

    <MudPaper Class="pa-4">
        <MudStack Spacing="1">
            <MudTextField @bind-Value="sqlServerParameters.Server" Label="Server" Required="true" />
            <MudNumericField @bind-Value="sqlServerParameters.Port" Label="Port" />
            <MudTextField @bind-Value="sqlServerParameters.UserId" Label="UserId" Required="true" autocomplete="new-userid" />
            <MudTextField @bind-Value="sqlServerParameters.Password" Label="Password" Required="true" autocomplete="new-password"
                          InputType="InputType.Password" />
            <MudTextField @bind-Value="sqlServerParameters.Database" Label="Database" />
            <MudSelect Label="ApplicationIntent" @bind-Value="@sqlServerParameters.ApplicationIntent" AnchorOrigin="Origin.BottomCenter">
                @foreach (ApplicationIntent item in Enum.GetValues(typeof(ApplicationIntent)))
                {
                    <MudSelectItem Value="@item">@item</MudSelectItem>
                }
            </MudSelect>
            <MudStack Row="true">
                <MudCheckBox @bind-Value="sqlServerParameters.MultipleActiveResultSets" Label="MultipleActiveResultSets" />
                <MudCheckBox @bind-Value="sqlServerParameters.TrustServerCertificate" Label="TrustServerCertificate" />
                <MudCheckBox @bind-Value="sqlServerParameters.Encrypt" Label="Encrypt" />
            </MudStack>
            <MudNumericField @bind-Value="sqlServerParameters.ConnectTimeout" Label="ConnectTimeout" />
            <MudStack Row="true">
                <MudCheckBox @bind-Value="sqlServerParameters.Pooling" Label="Pooling?" />
                <MudNumericField @bind-Value="sqlServerParameters.MinPoolSize" Label="MinPoolSize" Disabled="!sqlServerParameters.Pooling" />
                <MudNumericField @bind-Value="sqlServerParameters.MaxPoolSize" Label="MaxPoolSize" Disabled="!sqlServerParameters.Pooling" />
            </MudStack>
            <MudNumericField @bind-Value="sqlServerParameters.PacketSize" Label="PacketSize" />
        </MudStack>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow="false" OnClick="() => GetConnectionString(sqlServerParameters)">Validate</MudButton>
        <MudLoadingButton @bind-Loading="_loading" LoadingAdornment="Adornment.Start" LoadingCircularColor="Color.Primary" OnClick="()=>ConnectionTest(sqlServerParameters, TypeDb.SqlServer)" Variant="Variant.Filled" Color="Color.Primary">
            <LoadingContent>
                <MudText>@Localizer.Get("Processing")</MudText>
            </LoadingContent>
            <ChildContent>
                <MudText>@Localizer.Get("Test Db connection")</MudText>
            </ChildContent>
        </MudLoadingButton>
    </MudPaper>

    <MudPaper Class="pa-4">
        <MudStack Spacing="1">
            <MudTextField @bind-Value="OParameters.Server" Label="Server" Required="true" />
            <MudNumericField @bind-Value="OParameters.Port" Label="Port" Required="true" />
            <MudTextField @bind-Value="OParameters.ServiceName" Label="ServiceName" Required="true" />
            <MudTextField @bind-Value="OParameters.UserId" Label="UserId" Required="true" autocomplete="new-userid" />
            <MudTextField @bind-Value="OParameters.Password" Label="Password" Required="true" autocomplete="new-password"
                          InputType="InputType.Password" />
            <MudStack Row="true">
                <MudSwitch @bind-Value="OParameters.UseDbSchema" Label="UseDbSchema?" Color="Color.Primary" />
                <MudTextField @bind-Value="OParameters.Schema" Label="Schema" Disabled="!OParameters.UseDbSchema" Required="!OParameters.UseDbSchema" />
            </MudStack>
            <MudNumericField @bind-Value="OParameters.ConnectTimeout" Label="ConnectTimeout" />
            <MudStack Row="true">
                <MudCheckBox @bind-Value="OParameters.Pooling" Label="Pooling?" />
                <MudNumericField @bind-Value="OParameters.MinPoolSize" Label="MinPoolSize" Disabled="!OParameters.Pooling" />
                <MudNumericField @bind-Value="OParameters.MaxPoolSize" Label="MaxPoolSize" Disabled="!OParameters.Pooling" />
            </MudStack>
        </MudStack>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow="false" OnClick="() => GetConnectionString(OParameters)">Validate</MudButton>
        <MudLoadingButton @bind-Loading="_loading" LoadingAdornment="Adornment.Start" LoadingCircularColor="Color.Primary" OnClick="()=>ConnectionTest(OParameters, TypeDb.Oracle)" Variant="Variant.Filled" Color="Color.Primary">
            <LoadingContent>
                <MudText>@Localizer.Get("Processing")</MudText>
            </LoadingContent>
            <ChildContent>
                <MudText>@Localizer.Get("Test Db connection")</MudText>
            </ChildContent>
        </MudLoadingButton>
    </MudPaper>
    
    <MudPaper Class="pa-4">
        <MudStack Spacing="1">
            <MudTextField @bind-Value="PostgreParameters.Server" Label="Server" Required="true" />
            <MudNumericField @bind-Value="PostgreParameters.Port" Label="Port" />
            <MudTextField @bind-Value="PostgreParameters.UserId" Label="UserId" Required="true" autocomplete="new-userid" />
            <MudTextField @bind-Value="PostgreParameters.Password" Label="Password" Required="true" autocomplete="new-password"
                          InputType="InputType.Password" />
            <MudTextField @bind-Value="PostgreParameters.Database" Label="Database" Required="true" />
            <MudNumericField @bind-Value="PostgreParameters.ConnectTimeout" Label="ConnectTimeout" />
            <MudStack Row="true">
                <MudCheckBox @bind-Value="PostgreParameters.Pooling" Label="Pooling?" />
                <MudNumericField @bind-Value="PostgreParameters.MinPoolSize" Label="MinPoolSize" Disabled="!PostgreParameters.Pooling" />
                <MudNumericField @bind-Value="PostgreParameters.MaxPoolSize" Label="MaxPoolSize" Disabled="!PostgreParameters.Pooling" />
            </MudStack>
            <MudStack Row="true">
                <MudCheckBox @bind-Value="PostgreParameters.UseSSL" Label="UseSSL" />
                <MudTextField @bind-Value="PostgreParameters.SearchPath" Label="SearchPath" />
            </MudStack>
        </MudStack>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow="false" OnClick="() => GetConnectionString(PostgreParameters)">Validate</MudButton>
        <MudLoadingButton @bind-Loading="_loading" LoadingAdornment="Adornment.Start" LoadingCircularColor="Color.Primary" OnClick="()=>ConnectionTest(PostgreParameters, TypeDb.PostgreSql)" Variant="Variant.Filled" Color="Color.Primary">
            <LoadingContent>
                <MudText>@Localizer.Get("Processing")</MudText>
            </LoadingContent>
            <ChildContent>
                <MudText>@Localizer.Get("Test Db connection")</MudText>
            </ChildContent>
        </MudLoadingButton>
    </MudPaper>


    <MudPaper Class="pa-4">
        <MudStack Spacing="1">
            <MudTextField @bind-Value="MyParameters.Server" Label="Server" Required="true" />
            <MudNumericField @bind-Value="MyParameters.Port" Label="Port" />
            <MudTextField @bind-Value="MyParameters.UserId" Label="UserId" Required="true" autocomplete="new-userid" />
            <MudTextField @bind-Value="MyParameters.Password" Label="Password" Required="true" autocomplete="new-password"
                          InputType="InputType.Password" />
            <MudTextField @bind-Value="MyParameters.Database" Label="Database" Required="true" />
            <MudNumericField @bind-Value="MyParameters.ConnectTimeout" Label="ConnectTimeout" />
            <MudStack Row="true">
                <MudCheckBox @bind-Value="MyParameters.UseSSL" Label="UseSSL" />
                <MudCheckBox @bind-Value="MyParameters.ConvertZeroDateTime" Label="ConvertZeroDateTime" />
                <MudCheckBox @bind-Value="MyParameters.AllowUserVariables" Label="AllowUserVariables" />
            </MudStack>
        </MudStack>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow="false" OnClick="() => GetConnectionString(MyParameters)">Validate</MudButton>
        <MudLoadingButton @bind-Loading="_loading" LoadingAdornment="Adornment.Start" LoadingCircularColor="Color.Primary" OnClick="()=>ConnectionTest(MyParameters, TypeDb.MySql)" Variant="Variant.Filled" Color="Color.Primary">
            <LoadingContent>
                <MudText>@Localizer.Get("Processing")</MudText>
            </LoadingContent>
            <ChildContent>
                <MudText>@Localizer.Get("Test Db connection")</MudText>
            </ChildContent>
        </MudLoadingButton>
    </MudPaper>

    <MudPaper Class="pa-4">
        <MudStack Spacing="1">
            <MudTextField @bind-Value="MariaParameters.Server" Label="Server" Required="true" />
            <MudNumericField @bind-Value="MariaParameters.Port" Label="Port" />
            <MudTextField @bind-Value="MariaParameters.UserId" Label="UserId" Required="true" autocomplete="new-userid" />
            <MudTextField @bind-Value="MariaParameters.Password" Label="Password" Required="true" autocomplete="new-password"
                          InputType="InputType.Password" />
            <MudTextField @bind-Value="MariaParameters.Database" Label="Database" Required="true" />
            <MudNumericField @bind-Value="MariaParameters.ConnectTimeout" Label="ConnectTimeout" />
            <MudStack Row="true">
                <MudCheckBox @bind-Value="MariaParameters.UseSSL" Label="UseSSL" />
                <MudCheckBox @bind-Value="MariaParameters.TreatTinyAsBoolean" Label="TreatTinyAsBoolean" />
                <MudCheckBox @bind-Value="MariaParameters.AllowUserVariables" Label="AllowUserVariables" />
            </MudStack>
        </MudStack>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow="false" OnClick="() => GetConnectionString(MariaParameters)">Validate</MudButton>
        <MudLoadingButton @bind-Loading="_loading" LoadingAdornment="Adornment.Start" LoadingCircularColor="Color.Primary" OnClick="()=>ConnectionTest(MariaParameters, TypeDb.MariaDb)" Variant="Variant.Filled" Color="Color.Primary">
            <LoadingContent>
                <MudText>@Localizer.Get("Processing")</MudText>
            </LoadingContent>
            <ChildContent>
                <MudText>@Localizer.Get("Test Db connection")</MudText>
            </ChildContent>
        </MudLoadingButton>
    </MudPaper>

    <MudPaper Class="pa-4">
        <MudStack Spacing="1">
            <MudTextField @bind-Value="oleDParameters.Provider" Label="Provider" Required="true" />
            <MudTextField @bind-Value="oleDParameters.Server" Label="Server" Required="true" />
            <MudTextField @bind-Value="oleDParameters.UserId" Label="UserId" Required="true" autocomplete="new-userid" />
            <MudTextField @bind-Value="oleDParameters.Password" Label="Password" Required="true" autocomplete="new-password"
                          InputType="InputType.Password" />
            <MudTextField @bind-Value="oleDParameters.Database" Label="Database" />
            <MudNumericField @bind-Value="oleDParameters.ConnectTimeout" Label="ConnectTimeout" />
        </MudStack>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow="false" OnClick="() => GetConnectionString(oleDParameters)">Validate</MudButton>
        <MudLoadingButton @bind-Loading="_loading" LoadingAdornment="Adornment.Start" LoadingCircularColor="Color.Primary" OnClick="()=>ConnectionTest(oleDParameters, TypeDb.OlebDb)" Variant="Variant.Filled" Color="Color.Primary">
            <LoadingContent>
                <MudText>@Localizer.Get("Processing")</MudText>
            </LoadingContent>
            <ChildContent>
                <MudText>@Localizer.Get("Test Db connection")</MudText>
            </ChildContent>
        </MudLoadingButton>
    </MudPaper>

</MudStack>

@code {
    SqlServerParameters sqlServerParameters = new SqlServerParameters();
    OracleParameters OParameters = new OracleParameters();
    PostgreSqlParameters PostgreParameters = new PostgreSqlParameters();
    MySqlParameters MyParameters = new MySqlParameters();
    MariaDbParameters MariaParameters = new MariaDbParameters();
    OleDbParameters oleDParameters = new OleDbParameters();
    string ConnectionString = string.Empty;
    private bool _loading;

    private void GetConnectionString(DatabaseParameters dbParameters)
    {
        ConnectionString = dbParameters.BuildConnectionString();
    }


    private async Task ConnectionTest(DatabaseParameters dbParameters, TypeDb db)
    {
        _loading = true;
        var tryConn = new DatabaseConnectionDto
        {

            ConnectionPath = dbParameters.BuildConnectionString(),
            TypeDb = db

        };
        var result = await DataService.PostValues(tryConn, "TestConnection2", ApiControllers.RemoteDbApi);
        ConnectionString = result.Message ?? "Ok!";
        _loading = false;
    }
}
