@page "/SMTP"
@implements IAsyncDisposable
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject HttpClient Http
@attribute [Authorize(Roles = "Admin, Supervisor")]

<PageTitle>@localizer.Get("SMTP configuration")</PageTitle>

<ErrorBoundary>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <MudText Typo="Typo.subtitle1" Color="Color.Error"><b>@localizer.Get("An error has occurred"): @errorMessage</b></MudText>
    }
    <MudCard Elevation="6">
        <MudCardHeader>
            <MudText Typo="Typo.h6">@localizer.Get("SMTP configuration")</MudText>
            <MudSpacer />
            <MudStack Row="true">
                <MudIconButton DisableElevation Variant="Variant.Outlined"
                               Size="Size.Small"
                               OnClick="@(OpenCreateDialog)"
                               Icon="@Icons.Material.Filled.Add" Title="@localizer.Get("Add")" />
                <MudIconButton DisableElevation Variant="Variant.Outlined"
                               Size="Size.Small"
                               OnClick="@(OnRefresh)"
                               Icon="@Icons.Material.Filled.Refresh" Title="@localizer.Get("Refresh")"  Disabled="rendering"/>
                <MudIconButton DisableElevation Variant="Variant.Outlined"
                               Size="Size.Small"
                               OnClick="@(RemoveFilters)"
                               Icon="@Icons.Material.Filled.FilterAltOff" Title="@localizer.Get("Remove filters")" Disabled="@rendering" />
            </MudStack>
        </MudCardHeader>
        <MudCardContent>
            <div style="overflow:auto">
                <SimpleGrid ItemsProvider="@_ItemsProvider" BuildInFilter="true" Pagination="@pagination" FieldsContent="@Translations" @ref="_grid">
                    <TemplateColumn>
                        <MudStack Row=true>
                            <MudIconButton Icon="@Icons.Outlined.Edit" OnClick="()=>OpenEditDialog(context)" Title="@localizer.Get("Edit")" />
                            <MudIconButton Icon="@Icons.Outlined.Delete" OnClick="()=>OpenDeleteDialog(context)" Title="@localizer.Get("Delete")" />
                        </MudStack>
                    </TemplateColumn>
                    <PropertyColumn Property="@(p => p.ConfigurationName)" Title="@localizer.Get("Configuration name")" Sortable="true" />
@*                    <TemplateColumn Title="@localizer.Get("Is activated?")">
                        <_SMTPActivate Item="context" />
                    </TemplateColumn>*@
                    <PropertyColumn Property="@(p => p.smtpHost)" Title="@localizer.Get("SMTP host")" Sortable="true" />
                    <PropertyColumn Property="@(p => p.smtpPort)" Title="@localizer.Get("SMTP port")" Sortable="true" />
                    <PropertyColumn Property="@(p => p.fromEmail)" Title="@localizer.Get("From email")" Sortable="true" />
                    <PropertyColumn Property="@(p => p.fromFullName)" Title="@localizer.Get("From full name")" Sortable="true" />
                    <PropertyColumn Property="@(p => p.smtpSSL)" Title="@localizer.Get("SSL Activated?")" Sortable="true" />
                    <PropertyColumn Property="@(p => p.CreateDateTime)" Title="@localizer.Get("Created at")" Sortable="true" />
                    <PropertyColumn Property="@(p => p.CreateUser)" Title="@localizer.Get("Created by")" Sortable="true" />
                    <PropertyColumn Property="@(p => p.ModDateTime)" Title="@localizer.Get("Updated at")" Sortable="true" />
                    <PropertyColumn Property="@(p => p.ModificationUser)" Title="@localizer.Get("Updated by")" Sortable="true" />
                </SimpleGrid>
            </div>
            @if (rendering)
            {
                <MudProgressLinear Color="Color.Info" Indeterminate="@rendering" />
            }
            <Paginator Value="@pagination" FieldsContent="@Translations" />
        </MudCardContent>
    </MudCard>
</ErrorBoundary>

@code
{
    #nullable enable
    GridItemsProvider<SMTPConfigurationDTO>? _ItemsProvider;
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    SimpleGridFieldsContent Translations = default!;
    SimpleGrid<SMTPConfigurationDTO> _grid = default!;
    private string errorMessage = default!;
    private bool rendering = false;

    protected override void OnInitialized()
    {
        _ItemsProvider = async req =>
        {
            rendering = true;
            var response = await GetRemoteData(req);
            if (response is null)
            {
                return GridItemsProviderResult.From(Array.Empty<SMTPConfigurationDTO>(), 0);
            }
            rendering = false;
            return GridItemsProviderResult.From(response.Value, response.Count);
        };
        Translations = appService.GetGridTranslations();
    }

    private async Task<ApiResponse<SMTPConfigurationDTO>?> GetRemoteData(GridItemsProviderRequest<SMTPConfigurationDTO> req)
    {
        // Convert the current data request and filter criteria into an HTTP request to the remote endpoint
        // You can have as many filter criteria as you want as long as you can express this to the underlying data provider
        var OdataQuery = _grid?.GetODataQuery();
        string url = "odata/SMTP?";
        if (string.IsNullOrEmpty(OdataQuery))
        {
            url += $"$count=true&$top=10";
        }
        else
        {
            url += OdataQuery;
        }
        try
        {
            return await Http.GetFromJsonAsync<ApiResponse<SMTPConfigurationDTO>>(url, req.CancellationToken);
        }
        catch
        {
            // Unfortunately this HTTP API returns a 404 if there were no results, so we have to handle that separately
            return null;
        }
    }

    private async Task OnRefresh()
    {
        rendering = true;
        await _grid.RefreshDataAsync();
        rendering = false;
    }

    private async Task RemoveFilters()
    {
        rendering = true;
        await _grid.RemoveFilters();
        rendering = false;
    }

    public async ValueTask DisposeAsync()
    {
        await _grid.DisposeAsync();
        GC.SuppressFinalize(this);
    }

    private async Task OpenEditDialog(SMTPConfigurationDTO value)
    {
        var item = new SMTPConfigurationDTO
        {

            ConfigurationName = value.ConfigurationName,
            smtpHost = value.smtpHost,
            smtpPort = value.smtpPort,
            smtpSSL = value.smtpSSL,
            smtpUserName = value.smtpUserName,
            smtpPassword = value.smtpPassword,
            fromEmail = value.fromEmail,
            fromFullName = value.fromFullName
        };
        var parameters = new DialogParameters { ["Item"] = item, ["Action"] = CrudAction.Update };

        var dialog = DialogService.Show<_SMTPFormDialog>("Edit", parameters);
        var feedback = await dialog.Result;

        if (!feedback.Cancelled)
        {
            errorMessage = string.Empty;
            value.ConfigurationName = item.ConfigurationName;
            value.smtpHost = item.smtpHost;
            value.smtpPort = item.smtpPort;
            value.smtpSSL = item.smtpSSL;
            value.smtpUserName = item.smtpUserName;
            value.smtpPassword = item.smtpPassword;
            value.fromEmail = item.fromEmail;
            value.fromFullName = item.fromFullName;

            var result = await dataService.HandlePostValues(value, "SMTPUpdate");
            if (result.Success)
            {
                Snackbar.Add(localizer.Get("Object updated"), Severity.Success);
                 await OnRefresh();
            }
            else
            {
                Snackbar.Add(localizer.Get("An error has occurred"), Severity.Error);
                errorMessage = result.Message;
            }
        }
    }

    private async Task OpenDeleteDialog(SMTPConfigurationDTO value)
    {
        var parameters = new DialogParameters { ["Item"] = value, ["Action"] = CrudAction.Delete };

        var dialog = DialogService.Show<_SMTPFormDialog>("Delete", parameters);
        var feedback = await dialog.Result;

        if (!feedback.Cancelled)
        {
            errorMessage = string.Empty;
            var result = await dataService.HandlePostValues(value, "SMTPDelete");
            if (result.Success)
            {
                Snackbar.Add(localizer.Get("Object deleted"), Severity.Success);
                await OnRefresh();
            }
            else
            {
                Snackbar.Add(localizer.Get("An error has occurred"), Severity.Error);
                errorMessage = result.Message;
            }
        }
    }

    private async Task OpenCreateDialog()
    {
        var value = new SMTPConfigurationDTO();
        var parameters = new DialogParameters { ["Item"] = value, ["Action"] = CrudAction.Create };

        var dialog = DialogService.Show<_SMTPFormDialog>("Create", parameters);
        var feedback = await dialog.Result;

        if (!feedback.Cancelled)
        {
            errorMessage = string.Empty;
            var result = await dataService.HandlePostValues(value, "SMTPInsert");
            if (result.Success)
            {
                Snackbar.Add(localizer.Get("Object added"), Severity.Success);
                await OnRefresh();
            }
            else
            {
                Snackbar.Add(localizer.Get("An error has occurred"), Severity.Error);
                errorMessage = result.Message;
            }
        }
    }
}
 