@page "/DashboardApp"
@inherits ComponentBase
@using Report_App_WASM.Shared.Dashboard
@implements IDisposable
@attribute [Authorize]

<PageTitle>@Localizer.Get("Application Dashboard")</PageTitle>

<MudContainer Class="pt-2 px-2" MaxWidth="MaxWidth.False">
    <MudGrid Spacing="2">
        <MudItem xs="12" sm="6" md="4" lg="4" xl="2">
            <MudPaper Elevation="2" Class="d-flex flex-row align-center pa-2" Style="height: 100px;">
                <MudIcon Icon="@Icons.Material.Filled.TaskAlt" Class="mx-4" Style="width:50px; height:50px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle2" Class="mud-text-secondary mb-n1">@Localizer.Get("Nbr of tasks")</MudText>
                    <MudText Typo="Typo.h5">@_metrics.NbrOfTasksExcecutedToday</MudText>
                    <MudText Typo="Typo.subtitle2" Class="mud-text-secondary mb-n1">@Localizer.Get("Today")</MudText>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="4" xl="2">
            <MudPaper Elevation="2" Class="d-flex flex-row align-center pa-2" Style="height: 100px;">
                <MudIcon Icon="@Icons.Material.Filled.Wysiwyg" Class="mx-4" Style="width:50px; height:50px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle2" Class="mud-text-secondary mb-n1">@Localizer.Get("Reports")</MudText>
                    <MudText Typo="Typo.h5">@_metrics.NbrOfActiveReports</MudText>
                    <MudText Typo="Typo.subtitle2" Class="mud-text-secondary mb-n1">@Localizer.Get("Active")</MudText>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="4" xl="2">
            <MudPaper Elevation="2" Class="d-flex flex-row align-center pa-2" Style="height: 100px;">
                <MudIcon Icon="@Icons.Material.Filled.Report" Class="mx-4" Style="width:50px; height:50px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle2" Class="mud-text-secondary mb-n1">@Localizer.Get("Alerts")</MudText>
                    <MudText Typo="Typo.h5">@_metrics.NbrOfActiveAlerts</MudText>
                    <MudText Typo="Typo.subtitle2" Class="mud-text-secondary mb-n1">@Localizer.Get("Active")</MudText>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="4" xl="2">
            <MudPaper Elevation="2" Class="d-flex flex-row align-center pa-2" Style="height: 100px;">
                <MudIcon Icon="@Icons.Material.Filled.Inbox" Class="mx-4" Style="width:50px; height:50px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle2" Class="mud-text-secondary mb-n1">@Localizer.Get("Data transfer")</MudText>
                    <MudText Typo="Typo.h5">@_metrics.NbrOfActiveDataTransfer</MudText>
                    <MudText Typo="Typo.subtitle2" Class="mud-text-secondary mb-n1">@Localizer.Get("Active")</MudText>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="4" xl="2">
            <MudPaper Elevation="2" Class="d-flex flex-row align-center pa-2" Style="height: 100px;">
                <MudIcon Icon="@Icons.Material.Filled.QueryStats" Class="mx-4" Style="width:50px; height:50px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle2" Class="mud-text-secondary mb-n1">@Localizer.Get("Nbr of queries")</MudText>
                    <MudText Typo="Typo.h5">@_metrics.NbrOfActiveQueries</MudText>
                    <MudText Typo="Typo.subtitle2" Class="mud-text-secondary mb-n1">@Localizer.Get("Active")</MudText>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" lg="4" xl="2">
            <MudPaper Elevation="2" Class="d-flex flex-row align-center pa-2" Style="height: 100px;">
                <MudIcon Icon="@Icons.Material.Filled.ReportProblem" Color="Color.Error" Class="mx-4" Style="width:50px; height:50px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle2" Class="mud-text-secondary mb-n1">@Localizer.Get("Tasks in error")</MudText>
                    <MudText Typo="Typo.h5" Color="Color.Error">@_metrics.NbrTasksInError</MudText>
                    <MudText Typo="Typo.subtitle2" Class="mud-text-secondary mb-n1">@Localizer.Get("Today")</MudText>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="12" lg="6">
            <MudGrid Spacing="2">
                <MudItem xs="12" sm="12" md="6" lg="6">
                    <MudPaper Elevation="2" Class="pa-2" Style="height: 240px">
                        @if (_taskLogs == null)
                        {
                            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                        }
                        else
                        {
                            <Report_App_WASM.Client.Pages.Dashboard.Components._TasksLogsChart Height="100%" _taskLogs="_taskLogs" />
                        }
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="12" md="6" lg="6">
                    <MudPaper Elevation="2" Class="pa-2" Style="height: 240px">
                        @if (_taskLogs == null)
                        {
                            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                        }
                        else
                        {
                            <Report_App_WASM.Client.Pages.Dashboard.Components._TasksTypeLogsChart Height="100%" _taskLogs="_taskLogs" />
                        }
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="12" md="12" lg="12">
                    <MudPaper Elevation="2" Class="pa-2" Style="height: 220px;">
                        <Report_App_WASM.Client.Pages.Dashboard.Components._DblinesFetchedChart Height="100%" />
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="12" sm="12" md="12" lg="6">
            <MudPaper Elevation="2" Class="pa-2" Style="height: 100%; min-height: 200px; max-height: 484px">
                @if (_taskLogs == null)
                {
                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                }
                else
                {
                    <Report_App_WASM.Client.Pages.Dashboard.Components._ActivitiesSparklines _taskLogs="_taskLogs" />
                }
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="6" xl="4">
            <MudPaper Elevation="2" Class="pa-2" Style="height: 250px;">
                <Report_App_WASM.Client.Pages.Dashboard.Components._StorageChart Height="100%" />
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4" xl="2">
            <MudPaper Elevation="2" Class="d-flex flex-row pa-2">
                <div>
                    <MudText Typo="Typo.subtitle2" Class="mud-text-secondary mb-n1">@Localizer.Get("Nbr of files stored locally")</MudText>
                    <MudText Typo="Typo.h6">@_metrics.NbrOfFilesStored</MudText>
                    <MudText Typo="Typo.subtitle2" Class="mud-text-secondary mb-n1">@Localizer.Get("Size of files stored locally")</MudText>
                    <MudText Typo="Typo.h6">@($"{_metrics.SizeFilesStoredLocally:0.00}") MB</MudText>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="6" xl="3">
            <MudPaper Elevation="2" Class="pa-2" Style="height: 250px;">
                <Report_App_WASM.Client.Pages.Dashboard.Components._SystemLogsChart Height="100%" />
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="6" xl="3">
            <MudPaper Elevation="2" Class="pa-2" Style="height: 250px;">
                <Report_App_WASM.Client.Pages.Dashboard.Components._EmailLogsChart Height="100%" />
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    AppMetrics _metrics = new();
    private List<TaksLogsValues>? _taskLogs;

    protected override async Task OnInitializedAsync()
    {
        _taskLogs = await DataService.GetValues<TaksLogsValues>("TasksLogs", ApiControllers.DashboardApi);
        _metrics = await DataService.GetUniqueValue(_metrics, "Metrics", ApiControllers.DashboardApi);
    }

    public void Dispose()
    {
        GC.SuppressFinalize(this);
    }
}
