@inject IDialogService DialogService

<ErrorBoundary>
    <MudCard Elevation="6">
        <MudCardHeader>
            <MudText Typo="Typo.h6">@localizer.Get("Crons")</MudText>
            <MudSpacer />
            <MudStack Row="true">
                <MudIconButton DisableElevation Variant="Variant.Outlined"
                               Size="Size.Small"
                               OnClick="@(OpenCreateDialog)"
                               Icon="@Icons.Material.Filled.Add" Title="@localizer.Get("Add")" />
                <MudIconButton DisableElevation Variant="Variant.Outlined"
                               Size="Size.Small"
                               OnClick="@(RemoveFilters)"
                               Icon="@Icons.Material.Filled.FilterAltOff" Title="@localizer.Get("Remove filters")" />
            </MudStack>
        </MudCardHeader>
        <MudCardContent>
            <div style="overflow:auto">
                <SimpleGrid Items="@Elements.AsQueryable()" BuildInFilter="true" Pagination="@pagination" FieldsContent="@Translations" @ref="_grid">
                    <TemplateColumn>
                        <MudStack Row=true>
                            <MudIconButton Icon="@Icons.Outlined.Edit" OnClick="()=>OpenEditDialog(context)" Title="@localizer.Get("Edit")" />
                            <MudIconButton Icon="@Icons.Outlined.Delete" OnClick="()=>OpenDeleteDialog(context)" Title="@localizer.Get("Delete")" />
                        </MudStack>
                    </TemplateColumn>
                    <PropertyColumn Property="@(p => p.CronValue)" Title="@localizer.Get("Cron expression")" Sortable="true" />
                    <PropertyColumn Property="@(p => p.CronDescription)" Title="@localizer.Get("Cron description")"  Sortable="true" />
                </SimpleGrid>
            </div>
            <Paginator Value="@pagination" FieldsContent="@Translations" />
        </MudCardContent>
    </MudCard>
</ErrorBoundary>

@code {
    [Parameter] public TaskHeaderDTO Item { get; set; }
    [Parameter] public bool changePending { get; set; }
    [Parameter] public EventCallback<bool> changePendingChanged { get; set; }
    private List<CronParameters> crons = new List<CronParameters>();
    SimpleGrid<CronEditView> _grid;
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    SimpleGridFieldsContent Translations = default!;
    private List<CronEditView> Elements = new List<CronEditView>();
    DialogOptions dialogOptions = new() { CloseOnEscapeKey = false, DisableBackdropClick = true, MaxWidth = MaxWidth.Large, FullWidth = true };
    private bool disable;

    private class CronEditView
    {
        public string CronValue { get; set; }
        public string CronDescription { get; set; }
    }


    protected override void OnParametersSet()
    {
        UpdateElements();
        Translations = appService.GetGridTranslations();
    }

    private void UpdateElements()
    {
        if (!string.IsNullOrEmpty(Item.CronParameters))
        {
            crons = JsonSerializer.Deserialize<List<CronParameters>>(Item.CronParameters);
            PopulateCronsItems();
        }
    }

    private void PopulateCronsItems()
    {
        Elements.Clear();
        foreach (var t in crons)
        {
            Elements.Add(new CronEditView { CronValue = t.CronValue, CronDescription = CronExpressionDescriptor.ExpressionDescriptor.GetDescription(t.CronValue) });
        }
    }

    private async Task OpenEditDialog(CronEditView value)
    {
        disable = true;
        var dataBefore = value.CronValue;
        var parameters = new DialogParameters { ["Value"] = value.CronValue };

        var dialog = DialogService.Show<_cronEditorDialog>(localizer.Get("Configure the scheduler"), parameters, dialogOptions);
        var feedback = await dialog.Result;

        if (!feedback.Cancelled)
        {
            var toUpdate = crons.FirstOrDefault(a => a.CronValue == dataBefore);
            toUpdate.CronValue = feedback.Data.ToString();
            changePending = true;
            await changePendingChanged.InvokeAsync(changePending);
            SetItemCronValues();
            UpdateElements();
        }
        disable = false;
    }

    private async Task OpenDeleteDialog(CronEditView value)
    {
        disable = true;
        DialogOptions dialogOptions = new() { CloseOnEscapeKey = true, DisableBackdropClick = false, MaxWidth = MaxWidth.ExtraSmall };
        bool? result = await DialogService.ShowMessageBox(localizer.Get("Warning"), localizer.Get("Are you sure?"), localizer.Get("Delete"), null, cancelText: localizer.Get("Cancel"), dialogOptions);

        if (result != null)
        {
            var toRemove = crons.FirstOrDefault(a => a.CronValue == value.CronValue);
            crons.Remove(toRemove);
            changePending = true;
            await changePendingChanged.InvokeAsync(changePending);
            SetItemCronValues();
            UpdateElements();
        }
        disable = false;
    }


    private async Task OpenCreateDialog()
    {
        string value = null;
        var parameters = new DialogParameters { ["Value"] = value };

        var dialog = DialogService.Show<_cronEditorDialog>(localizer.Get("Configure the scheduler"), parameters, dialogOptions);
        var feedback = await dialog.Result;

        if (!feedback.Cancelled)
        {
            crons.Add(new CronParameters { CronValue = feedback.Data.ToString() });
            changePending = true;
            await changePendingChanged.InvokeAsync(changePending);
            SetItemCronValues();
            UpdateElements();
        }
    }

    private void SetItemCronValues()
    {
        if (crons.Any())
        {
            Item.CronParameters = JsonSerializer.Serialize(crons);
        }
    }

    private void OnRefresh()
    {
        StateHasChanged();
    }

    private void RemoveFilters()
    {
        _grid.RefreshDataAsync();
        UpdateElements();
    }
}
