@page "/login"
@layout LoginLayout
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider

<PageTitle>@localizer.Get("Log in")</PageTitle>


<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="loginParameters">
    <DataAnnotationsValidator />
    <h3 class="mb-4">@localizer.Get("Login")</h3>

    <div class="input-group mb-3">
        <InputText id="inputUsername" class="form-control" @bind-Value="loginParameters.UserName" autofocus placeholder="@localizer.Get("Email")" />       
    </div>
    <ValidationMessage For="@(() => loginParameters.UserName)" />
    <div class="input-group mb-4">
        <InputText type="password" id="inputPassword" class="form-control" placeholder="@localizer.Get("Password")" @bind-Value="loginParameters.Password" />       
    </div>
    <ValidationMessage For="@(() => loginParameters.Password)" />
    <div class="form-group text-left" style="padding-bottom:10px">
        <div class="checkbox checkbox-fill d-inline" >
            <InputCheckbox id="inputRememberMe" class="form-check-input" @bind-Value="@loginParameters.RememberMe" />
            <label for="checkbox-fill-a1" class="cr">@localizer.Get("Save credentials")</label>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary shadow-2 mb-4">@localizer.Get("Login")</button>
    </div>


    <label class="text-danger">@error</label>

@*    <NavLink href="register">
        <h6 class="font-weight-normal text-center">Create account</h6>
    </NavLink>*@
</EditForm>

@code {
    LoginParameters loginParameters { get; set; } = new LoginParameters();
    string error { get; set; }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await authStateProvider.Login(loginParameters);
            navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}