@page "/"
@page "/Home"
@attribute [Authorize]

<PageTitle>@Localizer.Get("Welcome")</PageTitle>

<div class="text-center">
    <h1 class="display-4">@Localizer.Get("Welcome")</h1>
</div>
<MudCard>
    <MudCardContent>
        @if (_activities.Any())
        {
            foreach (var t in _activities.Where(a => a.IsVisible))
            {
                <AuthorizeView Roles=@t.ActivityName>
                    <div>
                        <hr style="margin-bottom: 15px"/>
                        <h5>@Localizer.Get("You have access to the activity"): @t.ActivityName</h5>
                        @if (_appConst.ActivateTaskSchedulerModule)
                        {
                            <p>@Localizer.Get("You can download the reports already created and consult the plan of the next report executions.")</p>
                        }
                        <MudGrid>
                            @if (_appConst.ActivateTaskSchedulerModule)
                            {
                                @if (!context.User.IsInRole("Supervisor"))
                                {
                                    <MudItem sm="3" md="3">
                                        <a class="nav-link" href="/TasksView/@t.ActivityName/@t.ActivityId">
                                            <span class="pcoded-micon">
                                                <i class="fa fa-arrow-right"></i>
                                            </span><span class="pcoded-mtext">@Localizer.Get("Base view")</span>
                                        </a>
                                    </MudItem>
                                }
                                @if (context.User.IsInRole("Supervisor"))
                                {
                                    <MudItem sm="3" md="3">
                                        <a class="nav-link" href="/RetrieveReports/@t.ActivityName/@t.ActivityId">
                                            <span class="pcoded-micon">
                                                <i class="fa fa-arrow-right"></i>
                                            </span><span class="pcoded-mtext">@Localizer.Get("Retrieve reports")</span>
                                        </a>
                                    </MudItem>
                                    <MudItem sm="3" md="3">
                                        <a class="nav-link" href="TasksPerActivity/Report/@t.ActivityId/@t.ActivityName">
                                            <span class="pcoded-micon">
                                                <i class="fa fa-arrow-right"></i>
                                            </span><span class="pcoded-mtext">@Localizer.Get("Manage reports")</span>
                                        </a>
                                    </MudItem>
                                }
                            }
                            @if (_appConst.ActivateAdHocQueriesModule)
                            {
                                <MudItem sm="3" md="3">
                                    <a class="nav-link" href="/QueryStore/@t.ActivityId/@t.ActivityName">
                                        <span class="pcoded-micon">
                                            <i class="fa fa-arrow-right"></i>
                                        </span><span class="pcoded-mtext">@Localizer.Get("Queries store")</span>
                                    </a>
                                </MudItem>
                                @if (context.User.IsInRole("Supervisor"))
                                {
                                    <MudItem sm="3" md="3">
                                        <a class="nav-link" href="/DbExplorer/@t.ActivityId/@t.ActivityName">
                                            <span class="pcoded-micon">
                                                <i class="fa fa-arrow-right"></i>
                                            </span><span class="pcoded-mtext">@Localizer.Get("DB explorer")</span>
                                        </a>
                                    </MudItem>
                                }
                            }
                        </MudGrid>
                    </div>
                </AuthorizeView>
            }
        }

        <AuthorizeView Roles="Supervisor">
            <div>
                <hr style="margin-bottom: 15px"/>
                <h5>@Localizer.Get("You have the role"): Supervisor</h5>
                <p>@Localizer.Get("You can create, edit and delete reports.")</p>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <div>
                <hr style="margin-bottom: 15px"/>
                <h5>@Localizer.Get("You have the role"): Administrator</h5>
                <p>@Localizer.Get("You have full access to the general settings.")</p>
            </div>
        </AuthorizeView>
    </MudCardContent>
</MudCard>

@code {

    private List<SelectItemActivitiesInfo> _activities = new();
    private ApplicationConstantsValues _appConst = new();

    protected override async Task OnInitializedAsync()
    {
        _appConst = (await AppService.GetApplicationConstantsValues())!;
        _activities = await DataService.GetValues<SelectItemActivitiesInfo>("ActivitiesInfo", ApiControllers.ApplicationParametersApi);
    }

}