<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            @Localizer.Get("Query Result: max 20 rows")
        </MudText>
    </TitleContent>
    <DialogContent>
        <div class="form-group">
            <p style="color: red">@QueryTestResult</p>
        </div>
        @if (TestResult)
        {
            <MudTable Items="Data?.Select(a => a.Values).ToList()" Virtualize="true" Hover="true" Dense="true" Height="400px" FixedHeader="true" HorizontalScrollbar="true">
                <HeaderContent>
                    @if (Data?.Any() == true)
                    {
                        @foreach (var key in Data.First().Keys)
                        {
                            <MudTh>@key</MudTh>
                        }
                    }
                </HeaderContent>
                <RowTemplate>
                    @foreach (var t in context)
                    {
                        <MudTd Style="text-wrap-mode: nowrap;">@(t.ToString() == "{}" ? string.Empty : t)</MudTd>
                    }
                </RowTemplate>
                <PagerContent>
                    <MudTablePager RowsPerPageString="@Localizer.Get("Rows per page")" InfoFormat="@string.Format("{0}first_item{1}-{0}last_item{1} {2} {0}all_items{1}", "{", "}", Localizer.Get("of"))"/>
                </PagerContent>
            </MudTable>
        }
        <hr/>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Cancel" Class="px-10">@Localizer.Get("OK")</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance? MudDialog { get; set; }

    [Parameter] public List<Dictionary<string, object>>? Data { get; set; }

    [Parameter] public string? QueryTestResult { get; set; }

    [Parameter] public bool TestResult { get; set; }

    private void Cancel()
    {
        MudDialog?.Cancel();
    }

}