@using Report_App_WASM.Shared.Extensions
@inject IDialogService DialogService

<div style="@Style">
    <MudCard>
        <MudCardContent>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="text-transform: none" Size="Size.Small" OnClick="OpenCreateDialog">@Localizer.Get("Add a parameter")</MudButton>
        </MudCardContent>
        <MudCardContent>
            <MudGrid Spacing="1">
                @foreach (var element in _parameters.OrderBy(a => a.DisplaySequence))
                {
                    <MudItem xs="6" md="4" xl="3">
                        <MudCard Elevation="4" Style="height:455px">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.h6">@(string.IsNullOrEmpty(element.DisplayName) ? element.ParameterIdentifier : element.DisplayName)</MudText>
                                    </CardHeaderContent>
                                    <CardHeaderActions>
                                        <MudIconButton Icon="@Icons.Material.Filled.DeleteForever" Color="Color.Default" OnClick="() => Delete(element)" />
                                    </CardHeaderActions>
                                </MudCardHeader>
                                <MudCardContent>
                                    <MudTextField @bind-value="@element.DisplayName" TextChanged="UpdateParameters" Text="@(string.IsNullOrEmpty(element.DisplayName) ? element.ParameterIdentifier : element.DisplayName)" T="string" Label="@Localizer.Get("Display name")" />
                                    <MudNumericField Label="@Localizer.Get("Display sequence")" @bind-Value="@(element.DisplaySequence)" @onclick="UpdateParameters" />
                                    <MudTextField @bind-value="@element.ParameterIdentifier" TextChanged="UpdateParameters" Text="@element.ParameterIdentifier" T="string" Label="@Localizer.Get("Parameter identifier")" />
                                    <MudField Label="@Localizer.Get("Data type")" Disabled="true"> @Localizer.Get(element.ValueType.ToString())</MudField>
                                    @if (element.ValueType is QueryCommandParameterValueType.Date or QueryCommandParameterValueType.DateTime)
                                {
                                    <MudSelect @bind-Value="element.DateOption" Label="@Localizer.Get("Select a date calculation")" @bind-Value:after="UpdateParameters">
                                        @foreach (CalulatedDateOption item in Enum.GetValues(typeof(CalulatedDateOption)))
                                        {
                                            <MudSelectItem Value="@item">@Localizer.Get(item.ToString())</MudSelectItem>
                                        }
                                    </MudSelect>
                                    @if (element.DateOption is CalulatedDateOption.Now or CalulatedDateOption.LastRun)
                                    {
                                        <MudField Label="@Localizer.Get("Calculated date")">@(element.ValueType == QueryCommandParameterValueType.Date ? DateTime.Now.Date.ToString("d") : DateTime.Now)</MudField>
                                    }
                                    else
                                    {
                                        <MudField Label="@Localizer.Get("Calculated date")">@(element.ValueType == QueryCommandParameterValueType.Date ? element.DateOption.GetCalculateDateTime().Date.ToString("d") : element.DateOption.GetCalculateDateTime())</MudField>
                                    }
                                }
                                @if (element.ValueType == QueryCommandParameterValueType.String)
                                {
                                    <MudTextField Label="@Localizer.Get("Enter value")" @bind-Value="@element.Value" TextChanged="UpdateParameters" Text="@element.Value" />
                                }
                                @if (element.ValueType == QueryCommandParameterValueType.Number)
                                {
                                    <MudNumericField Label="@Localizer.Get("Enter value")" @bind-Value="@(element.Value)" TextChanged="UpdateParameters" Text="@element.Value" />
                                }
                                <MudGrid>
                                    <MudItem>
                                        <MudSwitch @bind-Checked="element.Required" Label="@Localizer.Get("Required")" Color="Color.Primary" @onclick="UpdateParameters" />
                                        <MudSwitch @bind-Checked="element.HideParameter" Label="@Localizer.Get("Hide parameter")" Color="Color.Primary" @onclick="UpdateParameters" />
                                    </MudItem>
                                </MudGrid>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                }
            </MudGrid>
        </MudCardContent>
    </MudCard>
</div>

@code {
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }
    [Parameter] public QueryStoreDto? Item { get; set; }
    [Parameter] public string? Style { get; set; }
    List<QueryCommandParameter?>? _parameters = new();

    protected override void OnInitialized()
    {
        if (Item?.QueryParameters != "[]" && !string.IsNullOrEmpty(Item?.QueryParameters))
        {
            _parameters = JsonSerializer.Deserialize<List<QueryCommandParameter>>(Item.QueryParameters)!;
        }
    }

    private async Task OpenCreateDialog()
    {
        var dialog = await DialogService.ShowAsync<_QueryParametersFormDialog>("Create");
        var feedback = await dialog.Result;

        if (!feedback.Canceled)
        {
            _parameters?.Add((QueryCommandParameter)feedback.Data);
            await UpdateParameters();
        }
    }

    private async Task Delete(QueryCommandParameter element)
    {
        DialogOptions dialogOptions = new() { CloseOnEscapeKey = true, DisableBackdropClick = false, MaxWidth = MaxWidth.ExtraSmall };
        var result = await DialogService.ShowMessageBox(Localizer.Get("Warning"), Localizer.Get("Are you sure?"), Localizer.Get("Delete"), null, cancelText: Localizer.Get("Cancel"), dialogOptions);

        if (result != null)
        {
            _parameters?.Remove(_parameters.FirstOrDefault(a => a?.ParameterIdentifier == element.ParameterIdentifier));
            await UpdateParameters();
        }

    }

    public async Task UpdateParameters()
    {
        await Task.Delay(60);//Ensure binding is done prior to serialize
        _parameters?.ForEach(a =>
        {
            if (a != null) a.ParameterIdentifier = a.ParameterIdentifier.RemoveSpecialCharacters();
        });
        Item!.QueryParameters = JsonSerializer.Serialize(_parameters);
        await ValueChanged.InvokeAsync(true);
    }
}
