@page "/DbExplorer/{ActivityId:int}/{ActivityName}"
@inject HttpClient Http
@inject IdentityAuthenticationStateProvider AuthenticationStateProvider
@using Report_App_WASM.Shared.Extensions
@using Report_App_WASM.Shared.RemoteQueryParameters
@using Blazor.AceEditorJs
@implements IDisposable
@attribute [Authorize(Roles = "Admin, Supervisor,Demo")]

<PageTitle>@Localizer.Get("DB explorer")</PageTitle>

<MudCard Elevation="6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">
                @Localizer.Get("DB explorer"): @ActivityName
            </MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudGrid>
            <MudItem xs="12" md="6">
                @if (!string.IsNullOrEmpty(_queryTestResult))
                {
                    <MudText Typo="Typo.subtitle1" Color="Color.Error">@Localizer.Get("An error has occurred"): @_queryTestResult</MudText>
                }
                <MudLoadingButton @bind-Loading="_loading" LoadingAdornment="Adornment.Start" LoadingCircularColor="Color.Primary" OnClick="GetTablesList" Variant="Variant.Filled" Color="Color.Primary">
                    <LoadingContent>
                        <MudText>@Localizer.Get("Processing")</MudText>
                    </LoadingContent>
                    <ChildContent>
                        <MudText>@Localizer.Get("Get tables list")</MudText>
                    </ChildContent>
                </MudLoadingButton>
                @if (_loading)
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small" OnClick="CancelQuery">
                        <MudText Class="ms-2">@Localizer.Get("Cancel")</MudText>
                    </MudButton>
                }
                <MudGrid>
                    <MudItem lg="7">
                        <MudTable Items="@TableNames" Dense="true" Hover="true" Bordered="true" Striped="true" FixedHeader="true" Height="70vh" Virtualize="true" Elevation="4">
                            <ToolBarContent>
                                <MudTextField Placeholder="Search" T="string" ValueChanged="@(s => OnSearchTables(s))" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                            </ToolBarContent>
                            <HeaderContent>
                                <MudTh></MudTh>
                                <MudTh>@Localizer.Get("Db tables")</MudTh>
                                @if (_hasDesc)
                                {
                                    <MudTh>@Localizer.Get("Description")</MudTh>
                                }
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd>
                                    <MudIconButton Icon="@Icons.Material.Outlined.BlurLinear" OnClick="() => DisplayTableValues(context.Name)" title="@Localizer.Get("Display table values")" Size="Size.Small"/>
                                </MudTd>
                                <MudTd @ondblclick="() => GetColumnsList(context.Name)">@context.Name</MudTd>
                                @if (_hasDesc)
                                {
                                    <MudTh>@context.Description</MudTh>
                                }
                            </RowTemplate>
                        </MudTable>
                    </MudItem>
                    <MudItem lg="5">
                        <MudTable Items="@ColNames" Dense="true" Hover="true" Bordered="true" Striped="true" FixedHeader="true" Height="70vh" Virtualize="true" Elevation="4">
                            <ToolBarContent>
                                <MudTextField T="string" ValueChanged="@(OnSearchCols)" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                            </ToolBarContent>
                            <HeaderContent>
                                <MudTh>@Localizer.Get("Columns"): @_SelectedTable</MudTh>
                                @if (_hasDescCol)
                                {
                                    <MudTh>@Localizer.Get("Description")</MudTh>
                                }
                            </HeaderContent>
                            <RowTemplate>
                                @if (context.IsSnippet)
                                {
                                    <MudTd Style="Color: crimson">@context.Name</MudTd>
                                }
                                else
                                {
                                    <MudTd>@context.Name</MudTd>
                                }

                                @if (_hasDescCol)
                                {
                                    <MudTh>@context.Description</MudTh>
                                }
                            </RowTemplate>
                        </MudTable>
                    </MudItem>
                </MudGrid>
            </MudItem>
            <MudItem xs="12" md="6">
                <div>
                    <MudPaper Elevation="25">
                        <MudToolBar Dense="true">
                            <MudIconButton Icon="@Icons.Material.Filled.PlayArrow" Color="Color.Success" Disabled="_loadingTestQuery" aria-label="@Localizer.Get("Test query")" OnClick="RunSql"/>
                            <MudIconButton Icon="@Icons.Material.Filled.Stop" Color="Color.Error" Disabled="!_loadingTestQuery" aria-label="@Localizer.Get("Cancel")" OnClick="CancelQuery"/>
                        </MudToolBar>
                    </MudPaper>
                    <MudProgressLinear Color="Color.Primary" Indeterminate="_loadingTestQuery"/>
                    @if (_opt != null)
                    {
                        <Blazor.AceEditorJs.AceJsEditor Style="height: 40vh" @bind-Value="@QueryBuilder" @bind-SelectedValue="_querySelectedCode" Options="@_opt"/>
                    }
                    <MudTable ServerData="ServerReload" Hover="true" Dense="true" Height="35vh" FixedHeader="true" HorizontalScrollbar="true" @ref="_table" RowsPerPage="20" Virtualize="true" Elevation="4">
                        <HeaderContent>
                            @if (_values?.Any() == true)
                            {
                                var keys = _values.FirstOrDefault()?.Keys;
                                if (keys != null)
                                {
                                    @foreach (var key in keys)
                                    {
                                        <MudTh>@key</MudTh>
                                    }
                                }
                            }
                        </HeaderContent>
                        <RowTemplate>
                            @if (_values?.Any() == true)
                            {
                                @foreach (var t in context)
                                {
                                    <MudTd>@(t.ToString() == "{}" ? string.Empty : t)</MudTd>
                                }
                            }
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager PageSizeOptions="_pageSizeOptions" RowsPerPageString="@Localizer.Get("Rows per page")" InfoFormat="@string.Format("{0}first_item{1}-{0}last_item{1} {2} {0}all_items{1}", "{", "}", Localizer.Get("of"))"/>
                        </PagerContent>
                    </MudTable>
                </div>
            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>

@code {

    [Parameter] public string ActivityName { get; set; } = default!;

    [Parameter] public int ActivityId { get; set; }

    private List<DescriptionValues> TableNames = new();
    private List<DescriptionValues> TableNamesStored = new();
    private List<DescriptionValues> ColNames = new();
    private List<DescriptionValues> ColNamesStored = new();
    private bool _loading;
    private bool _loadingTestQuery;
    private bool _hasDesc;
    private bool _hasDescCol;

    private string? QueryBuilder;
    private string? QueryRun;
    private string _querySelectedCode = string.Empty;
    private CancellationTokenSource? _cts;

    private bool _isDarkMode;
    private AceEditorOptions? _opt;
    private TypeDb _typeDbTask;

    MudTable<Dictionary<string, object>.ValueCollection>? _table = new();
    private List<Dictionary<string, object>>? _values = new();
    int[] _pageSizeOptions = { 10, 20, 50, 100 };
    private string? _queryTestResult { get; set; }
    private string _SelectedTable = string.Empty;


    protected override async Task OnParametersSetAsync()
    {
        var user = await AuthenticationStateProvider.GetUserInfo();
        if (user != null && !user.ExposedClaims!.Select(a => a.Value).ToList().Contains(ActivityName) && !user.ExposedClaims!.Select(a => a.Value).ToList().Contains("Admin"))
        {
            NavigationManager.NavigateTo("/403");
        }

        TableNames = new List<DescriptionValues>();
        ColNames = new List<DescriptionValues>();
        QueryRun = "";
        QueryBuilder = "";
        TableNamesStored = new List<DescriptionValues>();
        ColNamesStored = new List<DescriptionValues>();
        _table = new MudTable<Dictionary<string, object>.ValueCollection>();
        var uri = $"GetActivityDbConnection?ActivityId={ActivityId}";
        var response = await DataService.GetValues<ActivityDbConnectionDto>(uri);
        if (response.Any())
        {
            _typeDbTask = response.Select(a => a.TypeDb).First();
        }

        _isDarkMode = UserAppTheme.DarkTheme;
        _opt = new AceEditorOptions
        {
            IsReadOnly = false,
            Language = _typeDbTask switch
            {
                TypeDb.MySql => AceLanguage.mysql,
                TypeDb.MariaDb => AceLanguage.mysql,
                TypeDb.SqlServer => AceLanguage.sqlserver,
                TypeDb.PostgreSql => AceLanguage.pgsql,
                _ => AceLanguage.sql
            },
            Theme = _isDarkMode ? AceTheme.tomorrow_night : AceTheme.sqlserver
        };
        StateHasChanged();
    }

    private async Task GetTablesList()
    {
        _cts = new CancellationTokenSource();
        _loading = true;
        var data = await Http.GetFromJsonAsync<DbTablesColList>($"{ApiControllers.RemoteDbApi}GetTablesList?activityId={ActivityId}", _cts.Token);
        TableNames = data!.Values;
        TableNamesStored = data.Values;
        _hasDesc = data.HasDescription;
        _loading = false;
    }

    private async Task GetColumnsList(string table)
    {
        _cts = new CancellationTokenSource();
        _loading = true;
        _SelectedTable = table;
        var data = await Http.GetFromJsonAsync<DbTablesColList>($"{ApiControllers.RemoteDbApi}GetColumnList?activityId={ActivityId}&table={table}", _cts.Token);
        ColNames = data!.Values;
        ColNamesStored = data.Values;
        _hasDescCol = data.HasDescription;
        _loading = false;
    }


    private void OnSearchTables(string text)
    {
        if (string.IsNullOrWhiteSpace(text))
            TableNames = TableNamesStored;
        else
        {
            TableNames = TableNamesStored.Where(a => (!string.IsNullOrEmpty(a.Name) && a.Name.ToLower().RemoveDiacritics().Contains(text.ToLower().RemoveDiacritics())) || (!string.IsNullOrEmpty(a.Description) && a.Description.ToLower().RemoveDiacritics().Contains(text.ToLower().RemoveDiacritics()))).ToList();
        }
    }

    private void OnSearchCols(string text)
    {
        if (string.IsNullOrWhiteSpace(text))
            ColNames = ColNamesStored;
        else
        {
            ColNames = ColNamesStored.Where(a => (!string.IsNullOrEmpty(a.Name) && a.Name.ToLower().RemoveDiacritics().Contains(text.ToLower().RemoveDiacritics())) || (!string.IsNullOrEmpty(a.Description) && a.Description.ToLower().RemoveDiacritics().Contains(text.ToLower().RemoveDiacritics()))).ToList();
        }
    }

    void CancelQuery()
    {
        _cts?.Cancel();
    }

    public void Dispose()
    {
        GC.SuppressFinalize(this);
    }

    private async Task DisplayTableValues(string tableName)
    {
        _loading = true;
        var query = $"select  * from {tableName}";
        QueryRun = query;
        _table!.CurrentPage = 0;
        await _table.ReloadServerData();
        _loading = false;
    }

    private async Task RunSql()
    {
        _loadingTestQuery = true;
        var _queryTorun = string.Empty;
        _queryTorun = !string.IsNullOrWhiteSpace(_querySelectedCode) && !string.IsNullOrEmpty(_querySelectedCode) ? _querySelectedCode : QueryBuilder;
        if (string.IsNullOrEmpty(QueryBuilder))
        {
            _queryTestResult = "query is not set";
        }
        else
        {
            QueryRun = _queryTorun;
            _table!.CurrentPage = 0;
            await _table.ReloadServerData();
        }

        _loadingTestQuery = false;
    }

    private async Task<TableData<Dictionary<string, object>.ValueCollection>> ServerReload(TableState state, CancellationToken token)
    {
        var currentPage = state.Page;
        var pageSize = state.PageSize;
        if (string.IsNullOrEmpty(QueryRun))
        {
            _values = new List<Dictionary<string, object>>();
        }
        else
        {
            try
            {
                _cts = new CancellationTokenSource();

                var run = new RemoteDbCommandParameters { ActivityId = ActivityId, QueryToRun = QueryRun, Test = true, PaginatedResult = true, StartRecord = currentPage * pageSize, MaxSize = pageSize + 1, LastRunDateTime = DateTime.Now, QueryCommandParameters = new List<QueryCommandParameter>() };
                var remoteDataPayload = new RemoteDataPayload { Values = run, LogPayload = false };
                var uri = $"{ApiControllers.RemoteDbApi}RemoteDbGetValues";
                var response = await Http.PostAsJsonAsync(uri, remoteDataPayload, _cts.Token);
                if (response.IsSuccessStatusCode)
                {
                    var result = await response.Content.ReadFromJsonAsync<SubmitResultRemoteData>();
                    if (result!.Success)
                    {
                        _values = result.Value;
                        _queryTestResult = null!;
                    }
                    else
                    {
                        _queryTestResult = result.Message;
                        _values = new List<Dictionary<string, object>>();
                    }
                }
                else
                {
                    _values = new List<Dictionary<string, object>>();
                    _queryTestResult = response.Content.ToString();
                }
            }
            catch (Exception ex)
            {
                _values = new List<Dictionary<string, object>>();
                _queryTestResult = ex.Message;
            }
        }

        return new TableData<Dictionary<string, object>.ValueCollection> { TotalItems = _values!.Count < pageSize + 1 ? _values.Count + currentPage * pageSize : currentPage * pageSize + pageSize + 1, Items = _values?.Select(a => a.Values).ToList() };
    }

}