@page "/QueryStore/{ActivityId:int}/{ActivityName}"
@inject NavigationManager UriHelper
@implements IAsyncDisposable
@inject HttpClient Http
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@attribute [Authorize]

<PageTitle>@_pageTitle</PageTitle>

<ErrorBoundary>
    @if (!string.IsNullOrEmpty(_errorMessage))
    {
        <MudText Typo="Typo.subtitle1" Color="Color.Error"><b>@Localizer.Get("An error has occurred"): @_errorMessage</b></MudText>
    }
    <MudCard Elevation="6">
        <MudCardHeader>
            <MudText Typo="Typo.h6">@_pageTitle</MudText>
            <MudSpacer />
            <MudStack Row="true">
                <MudIconButton DisableElevation Variant="Variant.Outlined"
                               Size="Size.Small"
                               OnClick="@(OpenCreateDialog)"
                               Icon="@Icons.Material.Filled.Add" Title="@Localizer.Get("Add")" />
                <MudIconButton DisableElevation Variant="Variant.Outlined"
                               Size="Size.Small"
                               OnClick="@(OnRefresh)"
                               Icon="@Icons.Material.Filled.Refresh" Title="@Localizer.Get("Refresh")" Disabled="@_rendering" />
                <MudIconButton DisableElevation Variant="Variant.Outlined"
                               Size="Size.Small"
                               OnClick="@(RemoveFilters)"
                               Icon="@Icons.Material.Filled.FilterAltOff" Title="@Localizer.Get("Remove filters")" Disabled="@_rendering" />
            </MudStack>
        </MudCardHeader>
        <MudCardContent>
            <div style="overflow:auto">
                <SimpleGrid ItemsProvider="@_itemsProvider" BuildInFilter="true" Pagination="@_pagination" FieldsContent="@_translations" @ref="_grid">
                    <TemplateColumn>
                        <MudStack Row=true>
                            <MudIconButton Icon="@Icons.Outlined.Edit" OnClick="() => EditItem(context)" Title="@Localizer.Get("Edit")"/>
                            <MudIconButton Icon="@Icons.Outlined.Delete" OnClick="() => OpenDeleteDialog(context)" Title="@Localizer.Get("Delete")"/>
                        </MudStack>
                    </TemplateColumn>
                    <PropertyColumn Property="@(p => p.Id)" Title="Query Id" Sortable="true"/>
                    <TemplateColumn Title="@Localizer.Get("Run query")">
                        <MudIconButton Icon="@Icons.Outlined.Kitesurfing" OnClick="() => RunQuery(context)" Title="@Localizer.Get("Run query")"/>
                    </TemplateColumn>
                    <PropertyColumn Property="@(p => p.QueryName)" Title="@Localizer.Get("Query name")" Sortable="true"/>

                    @*                    <TemplateColumn Title="@Localizer.Get("Duplicate")">
                        <CascadingValue Value="@_grid">
                            <_TaskDuplicateForm Item="context" />
                        </CascadingValue>
                    </TemplateColumn>*@
                    <PropertyColumn Property="@(p => p.CreateDateTime)" Title="@Localizer.Get("Created at")" Sortable="true"/>
                    <PropertyColumn Property="@(p => p.CreateUser)" Title="@Localizer.Get("Created by")" Sortable="true"/>
                    <PropertyColumn Property="@(p => p.ModDateTime)" Title="@Localizer.Get("Updated at")" Sortable="true"/>
                    <PropertyColumn Property="@(p => p.ModificationUser)" Title="@Localizer.Get("Updated by")" Sortable="true"/>
                </SimpleGrid>
            </div>
            <Paginator Value="@_pagination" FieldsContent="@_translations" />
        </MudCardContent>
    </MudCard>
</ErrorBoundary>

@code {
    [Parameter] public string ActivityName { get; set; } = default!;
    [Parameter] public int ActivityId { get; set; }

    GridItemsProvider<QueryStoreDto>? _itemsProvider;
    PaginationState _pagination = new() { ItemsPerPage = 10 };
    SimpleGridFieldsContent? _translations;
    SimpleGrid<QueryStoreDto>? _grid;
    private string? _errorMessage;
    private string? _pageTitle;
    private bool _rendering;
    bool _empty;

    protected override void OnParametersSet()
    {
        _pageTitle = Localizer.Get("Queries store");
        if (!string.IsNullOrEmpty(ActivityName))
        {
            _pageTitle += ": " + ActivityName;
        }

        // This could use HttpClient's GetFromJsonAsync, or be a direct database query, etc.
        if (_empty)
        {
            _itemsProvider = async req =>
                {
                    var response = await GetRemoteData(req);
                    if (response is null)
                    {
                        _empty = true;
                        return GridItemsProviderResult.From(Array.Empty<QueryStoreDto>(), 0);
                    }

                    _empty = !response.Value!.Any();
                    return GridItemsProviderResult.From(response.Value!, response.Count);
                };
        }
    }


    protected override void OnInitialized()
    {
        _itemsProvider = async req =>
        {
            var response = await GetRemoteData(req);
            if (response is null)
            {
                _empty = true;
                return GridItemsProviderResult.From(Array.Empty<QueryStoreDto>(), 0);
            }
            if (response.Value!.Any())
            {
                _empty = false;
            }
            else
            {
                _empty = true;
            }
            return GridItemsProviderResult.From(response.Value!, response.Count);
        };
        _translations = AppService.GetGridTranslations();
    }

    private async Task<ApiResponse<QueryStoreDto>?> GetRemoteData(GridItemsProviderRequest<QueryStoreDto> req)
    {
        // Convert the current data request and filter criteria into an HTTP request to the remote endpoint
        // You can have as many filter criteria as you want as long as you can express this to the underlying data provider
        var odataSort = _grid?.GetODataSortValues();
        var odataPagination = _grid?.GetODataPaginationValues();
        var odataFilters = _grid?.GetODataFilterValues();
        var url = "odata/Queries?";


        var customFilters = $"IdActivity eq {ActivityId}";

        url += "$count=true";
        if (!string.IsNullOrEmpty(odataPagination))
        {
            url += "&" + odataPagination;
        }
        if (!string.IsNullOrEmpty(odataSort))
        {
            url += "&" + odataSort;
        }
        if (!string.IsNullOrEmpty(odataFilters))
        {
            url += "&" + odataFilters + " and " + customFilters;
        }
        else
        {
            url += "&$filter=" + customFilters;
        }

        try
        {
            return await Http.GetFromJsonAsync<ApiResponse<QueryStoreDto>>(url, req.CancellationToken);
        }
        catch
        {
            // Unfortunately this HTTP API returns a 404 if there were no results, so we have to handle that separately
            return null;
        }
    }

    private async Task OnRefresh()
    {
        _rendering = true;
        if (_grid != null) await _grid.RefreshDataAsync();
        _rendering = false;
    }

    private async Task RemoveFilters()
    {
        _rendering = true;
        if (_grid != null) await _grid.RemoveFilters();
        _rendering = false;
    }

    public async ValueTask DisposeAsync()
    {
        if (_grid != null) await _grid.DisposeAsync();
        GC.SuppressFinalize(this);
    }

    private async Task OpenDeleteDialog(QueryStoreDto value)
    {
        var parameters = new DialogParameters { ["Item"] = value, ["Action"] = CrudAction.Delete };

        var dialog = await DialogService.ShowAsync<_QueryStoreFormDialog>("Delete", parameters);
        var feedback = await dialog.Result;

        if (!feedback.Cancelled)
        {
            _errorMessage = string.Empty;
            // await DataService.PostValues(new ApiBackgrounWorkerdPayload { Activate = false, Value = value.TaskHeaderId }, "ActivatePerTask", ApiControllers.BackgroudWorkerApi);
            var result = await DataService.PostValues(value, "QueryStoreDelete");
            if (result.Success)
            {
                Snackbar.Add(Localizer.Get("Object deleted"), Severity.Success);
                await OnRefresh();
            }
            else
            {
                Snackbar.Add(Localizer.Get("An error has occurred"), Severity.Error);
                _errorMessage = result.Message;
            }
        }
    }

    private void RunQuery(QueryStoreDto value)
    {
        UriHelper.NavigateTo("RunQuery/" + value.Id);
    }

    private void EditItem(QueryStoreDto value)
    {
        //var uri = UriHelper.GetUriWithQueryParameters("QueryEdit/" + value.Id,
        //   new Dictionary<string, object>
        //       {
        //           ["FromTaskManager"] = !string.IsNullOrEmpty(ActivityName),
        //           ["Page"] = _pagination.CurrentPageIndex,
        //           ["PageSize"] = _pagination.ItemsPerPage
        //       }!);
        UriHelper.NavigateTo("QueryEdit/" + value.Id);
    }

    private async Task OpenCreateDialog()
    {
        var value = new QueryStoreDto { IdActivity = ActivityId };
        var parameters = new DialogParameters { ["Item"] = value, ["Action"] = CrudAction.Create };

        var dialog = await DialogService.ShowAsync<_QueryStoreFormDialog>("Create", parameters);
        var feedback = await dialog.Result;

        if (!feedback.Cancelled)
        {
            _errorMessage = string.Empty;
            var result = await DataService.PostValues(value, "QueryStoreInsert");
            if (result.Success)
            {
                Snackbar.Add(Localizer.Get("Object added"), Severity.Success);
                if (result.KeyValue>0)
                {
                    UriHelper.NavigateTo("QueryEdit/" + result.KeyValue);
                }
                else
                    await OnRefresh();
            }
            else
            {
                Snackbar.Add(Localizer.Get("An error has occurred"), Severity.Error);
                _errorMessage = result.Message;
            }
        }
    }
}



